.navbar {
    padding: 24px;
    display: flex;
}

.nav-logo {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 12px;
}

.nav-logo>img {
    width: 40px;
    height: 40px;
}

.nav-logo>span {
    font-weight: 600;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-weight: 500;
}

.nav-links>a:hover {
    color: #fe956f;
    cursor: pointer;
}

.search {
    width: 150px;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.search::placeholder {
    color: lightgray;
}

.nav-cart {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .nav-right {
        position: absolute;
        right: 12px;
        z-index: 9999;
        background: white;
        color: var(--black);
        border-radius: 5px;
        flex-direction: column;
        padding: 16px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        margin-left: 32px;
        /* gap: 12px; */
    }

    .search {
        display: none;
    }
}

@media screen  and (max-width: 856px) {
    .search {
        display: none;
    }

    .nav-right {
        gap: 16px;
    }
    
}