.testimonial-courasel .swiper-slide {
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
    /* width: 0% !important; */
    flex-shrink: unset !important;
}

.wrapper>img {
    width: 400px;
}

@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    .wrapper>img {
        height: 200px;
        max-width: min-content;
    }

    .testimonial {
        padding-left: 24px;
        padding-right: 24px;
    }

    .t-container {
        width: 280px;
    }

    .t-customer {
        text-align: justify;
        padding-left: 16px;
    } 
}

@media only screen 
and (min-device-width : 320px) and (max-device-width : 480px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .wrapper>img {
        max-width: 80%;
        height: 100%;
    }

    .t-customer {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .t-container {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}