@media only screen 
and (min-device-width : 320px) and (max-device-width : 480px) {
    .f-footer {
        /* justify-content: flex-start; */
        flex-wrap: wrap;
        align-items: flex-start;
        font-size: 27px;
        gap: 32px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .f-logo {
        display: none;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .f-footer {
        /* justify-content: center; */
        flex-wrap: wrap;
        align-items: flex-start;
        font-size: 27px;
        gap: 32px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .f-resources {
        
        /* align-items: center; */
    }
}